<main id="main" class="sec2">
 {{#if top.length}}
 <h1 class="headline">Fun Facts are based on the information that is provided by the users!</h1>
 <br> <br>
 <h1 class="headline">Top Rated Picture[s] With Rate Above 79: </h1>
 <table class="table table-dark table-striped">
  <thead>
   <tr>
    <th scope="col">Rate</th>
    <th scope="col">Picture Name</th>
    <th scope="col">Type</th>
    <th scope="col">Director</th>
    <th scope="col">Category</th>
    <th scope="col">Price</th>
    <th scope="col"></th>
   </tr>
  </thead>
  <tbody>
   {{#each top}}
   <tr>
    <td> {{this.rate}}</td>
    {{#if this.movie.length}}
    <td>{{this.movie}}</td>
    <td>Movie</td>
    <td>{{this.mdirector}}</td>
    <td>{{this.mcategory}}</td>
    <td>{{this.mprice}} USD</td>
    <td> <a href="/reviews/read/{{this.id}}"><i class="bi bi-book"></i></a></td>
    {{else}}
    <td>{{this.series}}</td>
    <td>Series</td>
    <td>{{this.sdirector}}</td>
    <td>{{this.scategory}}</td>
    <td>{{this.sprice}} USD</td>
    <td> <a href="/reviews/read/{{this.id}}"><i class="bi bi-book"></i></a></td>
   </tr>
   {{/if}}
   {{/each}}
  </tbody>
 </table>
  {{#if both.length}}
  <br> <br>
  <h1 class="headline">Directors who directed movie[s] as well as seriese[s]: </h1>
  <table class="table table-dark table-striped">
   <thead>
    <tr>
     <th scope="col">Director</th>
     <th scope="col">Movie Name</th>
     <th scope="col">Series Name</th>
     <th scope="col">Director Origin</th>
    </tr>
   </thead>
   <tbody>
    {{#each both}}
    <tr>
     <td> {{this.director}}</td>
     <td>{{this.movie}}</td>
     <td>{{this.series}}</td>
     <td>{{this.origin}}</td>
     {{/each}}
   </tbody>
  </table>
  {{/if}}
  
  {{#if authors.length}}
  <br> <br>
  <h1 class="headline">Active Reviewer[s]: </h1>
  <table class="table table-dark table-striped">
   <thead>
    <tr>
     <th scope="col">Reviewer:</th>
     <th scope="col">Number of Reviews:</th>
     <th scope="col">Contact Information:</th>
    </tr>
   </thead>
   <tbody>
    {{#each authors}}
    <tr>
     <td> {{this.author}}</td>
     <td> {{this.count}}</td>
     <td>{{this.contact}}</td>
     {{/each}}
   </tbody>
  </table>
  {{/if}}

 {{else}}
 <h1 class="headline">There are no Fun Facts At this time</h1>
 {{/if}}
</main>