<div class="table-responsive">
 {{#if directors.length}} <h1 class="headline">Directors: </h1>
<table class="table table-dark table-striped">
 <thead>
  <tr>
   <th scope="col">Name</th>
   <th scope="col">Age</th>
  </tr>
 </thead>
 <tbody>
  {{#each directors}}
  <tr>
   <td>{{this.fullName}}</td>
   <td>{{this.age}}</td>
  </tr>
  {{/each}}
 </tbody>
</table>
{{/if}}

{{#if movies.length}}
<br> <br>
<h1 class="headline">Movies: </h1>
<table class="table table-dark table-striped">
 <thead>
  <tr>
   <th scope="col">Name</th>
   <th scope="col">Category</th>
   <th scope="col">Rating</th>
   <th scope="col">Director</th>
   <th scope="col">Year</th>
      <th scope="col">Price in SEK:</th>
  </tr>
 </thead>
 <tbody>
  {{#each movies}}
  <tr>
   <td>{{this.movie_name}}</td>
   <td>{{this.category}}</td>
   <td>{{this.rating}}</td>
   <td>{{this.director}}</td>
   <td>{{this.year}}</td>
    <td>{{this.price}}</td>
  </tr>
  {{/each}}
 </tbody>
</table>
{{/if}}

{{#if series.length}}
<br> <br>
<h1 class="headline">Serieses: </h1>
<table class="table table-dark table-striped">
 <thead>
  <tr>
   <th scope="col">Name</th>
   <th scope="col">Category</th>
   <th scope="col">Seasons</th>
   <th scope="col">Episodes</th>
   <th scope="col">Rating</th>
   <th scope="col">Director</th>
   <th scope="col">Year</th>
      <th scope="col">Price in SEK:</th>
  </tr>
 </thead>
 <tbody>
  {{#each series}}
  <tr>
   <td>{{this.name}}</td>
   <td>{{this.category}}</td>
   <td>{{this.seasons}}</td>
   <td>{{this.episodes}}</td>
   <td>{{this.rating}}</td>
   <td>{{this.director}}</td>
   <td>{{this.year}}</td>
     <td>{{this.price}}</td>
  </tr>
  {{/each}}
 </tbody>
</table>
{{/if}}
</div>