{{> header}}
<main class="sec2" class="table-responsive">
   <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="button" id="addReview" class="btn btn-dark" style="width: 100px">
         <i class="bi bi-plus-lg"></i>
      </button>
   </div>
   {{#if rows.length}}
   <br> <br>
   <h1 class="headline">MRS: Reviews: </h1>
   <table class="table table-dark table-striped">
      <thead>
         <tr>
            <th scope="col">Name</th>
            <th scope="col">Reviewer</th>
            <th scope="col">Rating</th>
            <th scope="col">Storyline:</th>
            <th scope="col">Goofs:</th>
            <th scope="col">Trivia:</th>
            <th scope="col">Quotes:</th>
            <th scope="col">Number of Awards:</th>
            <th scope="col">Gross worldwide in USD:</th>
            <th scope="col">Reviews:</th>
         </tr>
      </thead>
      <tbody>
         {{#each rows}}
         <tr>
            <td> <a href="/reviews/{{this.id}}">{{this.movieName}}</a></td>
            <td>{{this.author}}</td>
            <td>{{this.rating}}</td>
            <td>{{this.story}}</td>
            <td>{{this.goofs}}</td>
            <td>{{this.trivia}}</td>
            <td>{{this.quotes}}</td>
            <td>{{this.awards}}</td>
            <td>{{this.gross}}</td>
            <td>{{this.review}}</td>
         </tr>
         {{/each}}
      </tbody>
   </table>
   {{else}}
   <div class="container-fluid pt-5 pb-5">
      <h1 class="headline">No Data In The Database </h1>
   </div>
   {{/if}}
   </div>
</main>