<body>
   <main class="sec2" class="table-responsive">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
         <button type="button" id="addToBox" class="btn btn-dark" style="width: 100px">
            <i class="bi bi-plus-lg"></i>
         </button>
      </div>
      {{#if rows.length}}
      <br> <br>
      <h1 class="headline">MMS Top Movies & TV Showes: </h1>
      <table class="table table-dark table-striped">
         <thead>
            <tr>
               <th scope="col">Name</th>
               <th scope="col">Rating</th>
               <th scope="col">Budget in USD:</th>
               <th scope="col">US Gross in USD:</th>
               <th scope="col">Number of Award[s]:</th>
               <th scope="col">Reviews</th>
            </tr>
         </thead>
         <tbody>
            {{#each rows}}
            <tr>
               <td> <a href="/directors/{{this.id}}">{{this.name}}</a></td>
               <td>{{this.rating}}</td>
               <td>{{this.budget}}</td>
               <td>{{this.gross}}</td>
               <td>{{this.awards}}</td>
               <td>{{this.reviews}}</td>
            </tr>
            {{/each}}
         </tbody>
      </table>
      {{else}}
      <div class="container-fluid pt-5 pb-5">
         <h1 class="headline">No Data In The Database </h1>
      </div>
      {{/if}}
      </div>
   </main>
   <script type="module" src="/index.js"></script>
</body>