<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" type="text/css" href="/css/index.css" />
 <title>Search</title>
</head>

<body class="body">
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
     <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/mutual-directors">Movies & Srieses with mutual Directors</a>
     </li>
     <li class="nav-item">
      <a class="nav-link" href="/cross-join">Cross Join</a>
     </li>
     <li class="nav-item">
      <a class="nav-link" href="/inner-join">Inner Join</a>
     </li>
    </ul>
   </div>
  </div>
 </nav>
 <main id="main" class="main">
  {{#if mutual.length}} <h1 class="headline">Movies & Srieses with mutual Directors: </h1>
  <table class="table table-dark table-striped">
   <thead>
    <tr>
     <th scope="col">Director Name</th>
     <th scope="col">Age</th>
     <th scope="col">Origin</th>
     <th scope="col">Movie Name</th>
     <th scope="col">Series Name</th>
    </tr>
   </thead>
   <tbody>
    {{#each mutual}}
    <tr>
     <td>{{this.fullName}}</td>
     <td>{{this.age}}</td>
     <td>{{this.origin}}</td>
     <td>{{this.name1}}</td>
     <td>{{this.name2}}</td>
    </tr>
    {{/each}}
   </tbody>
  </table>
  {{/if}}
  {{#if joins.length}} <h1 class="headline">If you buy a movie and a series, you will get a 100 USD discount from the
   total
   amount. Here is a list
   of all combinations with the prices. : </h1>
  <table class="table table-dark table-striped">
   <thead>
    <tr>
     <th scope="col">Combination: Movie Name & Series Name</th>
     <th scope="col">The inital price of the Movie in USD</th>
     <th scope="col">The inital price of the Series in USD</th>
     <th scope="col">Actual Price for both before discount in USD</th>
     <th scope="col">Actual Price for both after discount in USD</th>
    </tr>
   </thead>
   <tbody>
    {{#each joins}}
    <tr>
     <td>{{this.name1}} & {{this.name2}}</td>
     <td>{{this.price1}}</td>
     <td> {{this.price2}} </td>
     <td>{{this.total_before}} </td>
     <td>{{this.total_after}} </td>
  
    </tr>
    {{/each}}
    </tbody>
    </table>
    {{/if}}
    {{#if innerJoins.length}} <h1 class="headline">Inner Joins: </h1>
    <table class="table table-dark table-striped">
     <thead>
      <tr>
       <th scope="col">Movie Name </th>
       <th scope="col">Director</th>
       <th scope="col">Category</th>
       <th scope="col">Rating</th>
       <th scope="col">Gross</th>
       <th scope="col">Gross Worldwide</th>
      </tr>
     </thead>
     <tbody>
      {{#each innerJoins}}
      <tr>
       <td>{{this.name}} </td>
       <td>{{this.director}}</td>
       <td> {{this.category}} </td>
       <td>{{this.rating}} </td>
       <td>{{this.gross}} </td>
       <td>{{this.grossWorldwide}} </td>
    </tr>
    {{/each}}
   </tbody>
  </table>
  {{/if}}
 </main>
</body>

</html>