{{> header}}
 <main class="sec2" class="table-responsive">
  {{#if rows.length}}
  {{#each rows}}
  <form action="/directors/{{this.id}}" method="POST">
   <section class="sec3">
    <h2>Director information:</h2>
    <label for="firstName">First Name:</label><br>
    <input type="text" id="firstName" name="firstName" value="{{this.firstName}}" placeholder="First Name" required><br>
    <label for="lastName">Last Name:</label><br>
    <input type="text" id="lastName" name="lastName" value="{{this.lastName}}" placeholder="Last Name" required><br>
    <label for="age">Age:</label><br>
    <input type="number" min="18" id="age" name="age" value="{{this.age}}" placeholder="Age" required><br>
    <label for="origin">Origin:</label><br>
    <input type="text" id="origin" name="origin" value="{{this.origin}}" placeholder="Origin" required><br>
    <input type="hidden" id="id" name="id" value="{{this.id}}">
    <br />
    <input type="submit" value="Update"><br>
  </section>
    {{/each}}
    {{/if}}
    {{> bottom}}
</main>