{{> header}}
<main class="sec2" class="table-responsive">
  {{#if rows.length}}
  {{#each rows}}
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a type="button" id="deleteMovie" href="/delete-movie/{{this.id}}" class="btn btn-dark" style="width: 100px">
      <i class="bi bi-trash"></i>
    </a>
  </div>
<section class="sec3">
  <h2>Movie Information:</h2>
  <form action="/movies/{{this.id}}" method="POST">
    <label for="director"> Director:</label><br>
    <select name="director" id="director" required>
    <option readonly value="{{this.director}}|{{this.directorID}}">{{this.director}}</option>
    </select>
    <br>
<label for="category">Category:</label><br>
<select name="category" id="category" required>
<option value="{{this.category}}">{{this.category}}</option>
</select>
<br> <br>
<label for="name">Movie Name:</label><br>
<input type="title" value="{{this.name}}" id="name" name="name" placeholder="Movie Name" required><br>
<label for="year">Year:</label><br>
<input type="number" value="{{this.year}}" min="1920" max="2021" id="year" name="year" placeholder="Year" required><br>
<label for="length">Length in Minutes:</label><br>
<input type="number" value="{{this.length}}" min="1" id="length" name="length" placeholder="Length in minutes."
  required><br>
<label for="price"> Price in USD:</label><br>
<input type="number" value="{{this.price}}" min="1" id="price" name="price" placeholder="Price in USD" required><br>
<label for="ageLimit"> Age Limit:</label><br>
<input type="number" value="{{this.ageLimit}}" min="1" id="ageLimit" name="ageLimit" placeholder="Age imit"
  required><br>
<label for="origin">Origin:</label><br>
<input type="title" id="origin" value="{{this.origin}}" name="origin" placeholder="Origin" required><br>
<label for="language">Language:</label><br>
<input type="title" id="language" value="{{this.language}}" name="language" placeholder="Language" required><br>
<br>
<label for="note"> Note:</label><br>
<textarea id="note" name="note" rows="12" cols="50" placeholder="Write the note here....">{{this.note}}</textarea>
<input type="submit" value="Update"><br>
</form>
  {{/each}}
  {{/if}}
</section>
{{#if message.length}}
<div class="div2">
  <p class="line"> {{message}} </p>
</div>
{{/if}}
 </main>